satsim/constellations
__pycache__
.vscode
main
a.out
a.txt
data
output*
cdf_plot_data
frame_data
summary*.csv
plot_figs
rib
old/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
